name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install poetry
          poetry install

      - name: Run tests with coverage
        run: poetry run pytest --cov=gendiff --cov-report=xml

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.projectKey=temalllytera_python-project-50
            -Dsonar.organization=temalllytera
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.python.version=3.9
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          
